<h3>About</h3>

<table>
    <tbody >
        <tr>
            <th>Full Name</th>
            <td>@AboutDetails.FullName</td>
        </tr>
        <tr>
            <th>DOB</th>
            <td>@AboutDetails.DateOfBirth</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>@AboutDetails.Nationality</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@AboutDetails.Email</td>
        </tr>
        <tr>
            <th>GitHub</th>
            <td><a href="@AboutDetails.GitHubLink">GitHub Link</a></td>
        </tr>
        <tr>
            <th>LinkedIn</th>
            <td><a href="@AboutDetails.LinkedInLink">LinkedIn Link</a></td>
        </tr>
    </tbody>
</table>


<table>
    <tbody>
        <tr>
            <th>이름</th>
            <td>@AboutDetails.FullName</td>
        </tr>
        <tr>
            <th>생년월일</th>
            <td>@AboutDetails.DateOfBirth</td>
        </tr>
        <tr>
            <th>국적</th>
            <td>@AboutDetails.Nationality</td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>@AboutDetails.Email</td>
        </tr>
        <tr>
            <th>GitHub</th>
            <td><a href="@AboutDetails.GitHubLink">GitHub Link</a></td>
        </tr>
        <tr>
            <th>LinkedIn</th>
            <td><a href="@AboutDetails.LinkedInLink">LinkedIn Link</a></td>
        </tr>
    </tbody>
</table>