<h3>About</h3>

<table>
    <tbody >
        <TableHeaderAndDataRow TableHeader="@AboutDetails.FullName.Key" TableData="@AboutDetails.FullName.Value" />
        <TableHeaderAndDataRow TableHeader="@AboutDetails.DateOfBirth.Key" TableData="@AboutDetails.DateOfBirth.Value" />
        <TableHeaderAndDataRow TableHeader="@AboutDetails.Nationality.Key" TableData="@AboutDetails.Nationality.Value" />
        <TableHeaderAndDataRow TableHeader="@AboutDetails.Email.Key" TableData="@AboutDetails.Email.Value" />
        <tr>
            <th>@AboutDetails.GitHubLink.Key</th>
            <td><a href="@AboutDetails.GitHubLink.Value">GitHub Link</a></td>
        </tr>
        <tr>
            <th>@AboutDetails.LinkedInLink.Key</th>
            <td><a href="@AboutDetails.LinkedInLink.Value">LinkedIn Link</a></td>
        </tr>
        <TableHeaderAndDataRow TableHeader="@AboutDetails.PersonalStatement.Key" TableData="@AboutDetails.PersonalStatement.Value" />
    </tbody>
</table>