<h3>About</h3>

<table>
    <tbody >
        <TableHeaderAndDataRow TableHeader="@AboutDetails.FullName.Key" SimpleData="@AboutDetails.FullName.Value" />
        <TableHeaderAndDataRow TableHeader="@AboutDetails.DateOfBirth.Key" SimpleData="@AboutDetails.DateOfBirth.Value" />
        <TableHeaderAndDataRow TableHeader="@AboutDetails.Nationality.Key" SimpleData="@AboutDetails.Nationality.Value" />
        <TableHeaderAndDataRow TableHeader="@AboutDetails.Email.Key" SimpleData="@AboutDetails.Email.Value" />
        <TableHeaderAndDataRow TableHeader="@AboutDetails.GitHubLink.Key" SimpleData="@($"""<a href="{@AboutDetails.GitHubLink.Value}">GitHub Link</a>""")" />
        <TableHeaderAndDataRow TableHeader="@AboutDetails.LinkedInLink.Key" SimpleData="@($"""<a href="{@AboutDetails.LinkedInLink.Value}">LinkedIn Link</a>""")" />
        <TableHeaderAndDataRow TableHeader="@AboutDetails.PersonalStatement.Key" SimpleData="@AboutDetails.PersonalStatement.Value" />
    </tbody>
</table>