<h3>About</h3>

<table>
    <tbody >
        <tr>
            <th>Full Name</th>
            <td>@Data.FullName</td>
        </tr>
        <tr>
            <th>DOB</th>
            <td>@Data.DateOfBirth</td>
        </tr>
        <tr>
            <th>Nationality</th>
            <td>@Data.Nationality</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Data.Email</td>
        </tr>
        <tr>
            <th>GitHub</th>
            <td><a href="@Data.GitHubLink">GitHub Link</a></td>
        </tr>
        <tr>
            <th>LinkedIn</th>
            <td><a href="@Data.LinkedInLink">LinkedIn Link</a></td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public AboutModel? Data { get; set; }
}
