<h3>Education</h3>

<table>
    <tbody>
        <tr>
            <th>@EducationDetails.UniversityName.Key</th>
            <td>@EducationDetails.UniversityName.Value</td>
        </tr>
        <tr>
            <th>@EducationDetails.Location.Key</th>
            <td>@EducationDetails.Location.Value</td>
        </tr>
        <tr>
            <th>@EducationDetails.PeriodAttended.Key</th>
            <td>@EducationDetails.PeriodAttended.Value</td>
        </tr>
        <tr>
            <th>@EducationDetails.Degree.Key</th>
            <td>@EducationDetails.Degree.Value</td>
        </tr>
    </tbody>
</table>

@* <table>
    <tbody>
        <tr>
            <th>대학교</th>
            <td>@EducationDetails.UniversityName</td>
        </tr>
        <tr>
            <th>위치</th>
            <td>@EducationDetails.Location</td>
        </tr>
        <tr>
            <th>재학 기간</th>
            <td>@EducationDetails.PeriodAttended</td>
        </tr>
        <tr>
            <th>학위</th>
            <td>@EducationDetails.Degree</td>
        </tr>
    </tbody>
</table> *@