<h3>Education</h3>

<table>
    <tbody>
        <TableHeaderAndDataRow TableHeader="@EducationDetails.UniversityName.Key" SimpleData="@EducationDetails.UniversityName.Value" />
        <TableHeaderAndDataRow TableHeader="@EducationDetails.Location.Key" SimpleData="@EducationDetails.Location.Value" />
        <TableHeaderAndDataRow TableHeader="@EducationDetails.PeriodAttended.Key" SimpleData="@EducationDetails.PeriodAttended.Value" />
        <TableHeaderAndDataRow TableHeader="@EducationDetails.Degree.Key" SimpleData="@EducationDetails.Degree.Value" />
    </tbody>
</table>