<h3>Hard Skills</h3>

<table>
    <tbody>
        <TableHeaderAndDataRow TableHeader="@HardSkillsDetails.Programming.Key" CollectionData="@HardSkillsDetails.Programming.Value" />
        <TableHeaderAndDataRow TableHeader="@HardSkillsDetails.Tools.Key" SimpleData="@HardSkillsDetails.Tools.Value" />
        <TableHeaderAndDataRow TableHeader="@HardSkillsDetails.Other.Key" CollectionData="@HardSkillsDetails.Other.Value" />
        <TableHeaderAndDataRow TableHeader="@HardSkillsDetails.WayOfWorking.Key" SimpleData="@HardSkillsDetails.WayOfWorking.Value" />
        <TableHeaderAndDataRow TableHeader="@HardSkillsDetails.Languages.Key" CollectionData="@HardSkillsDetails.Languages.Value" />
    </tbody>
</table>