<h3>Hard Skills</h3>

<table>
    <tbody>
        <tr>            
            <th>@HardSkillsDetails.Programming.Key</th>
            <td>
                @foreach (string programming in HardSkillsDetails.Programming.Value)
                {
                    <p>@programming</p>
                }
            </td>
        </tr>
        <tr>
            <th>@HardSkillsDetails.Tools.Key</th>
            <td>@HardSkillsDetails.Tools.Value</td>
        </tr>
        <tr>
            <th>@HardSkillsDetails.Other.Key</th>
            <td>
                @foreach (string other in HardSkillsDetails.Other.Value)
                {
                    <p>@other</p>
                }
            </td>
        </tr>
        <tr>
            <th>@HardSkillsDetails.WayOfWorking.Key</th>
            <td>@HardSkillsDetails.WayOfWorking.Value</td>
        </tr>
        <tr>
            <th>@HardSkillsDetails.Languages.Key</th>
            <td>
                @foreach (string language in HardSkillsDetails.Languages.Value)
                {
                    <p>@language</p>
                }
            </td>
        </tr>

    </tbody>
</table>

@* <table>
    <tbody>
        <tr>
            <th>사용 프로그래밍</th>
            <td>
                @foreach (string programming in HardSkillsDetails.Programming)
                {
                    <p>@programming</p>
                }
            </td>
        </tr>
        <tr>
            <th>사용 도구</th>
            <td>@HardSkillsDetails.Tools</td>
        </tr>
        <tr>
            <th>기타</th>
            <td>
                @foreach (string other in HardSkillsDetails.Other)
                {
                    <p>@other</p>
                }
            </td>
        </tr>
        <tr>
            <th>작업 환경</th>
            <td>@HardSkillsDetails.WayOfWorking</td>
        </tr>
        <tr>
            <th>언어</th>
            <td>
                @foreach (string language in HardSkillsDetails.Languages)
                {
                    <p>@language</p>
                }
            </td>
        </tr>

    </tbody>
</table> *@