<h3>Hard Skills</h3>

<table>
    <tbody>
        <tr>            
            <th>@HardSkillsDetails.Programming.Key</th>
            <td>
                <TextArray TextCollection="HardSkillsDetails.Programming.Value" />
            </td>
        </tr>
        <TableHeaderAndDataRow TableHeader="@HardSkillsDetails.Tools.Key" TableData="@HardSkillsDetails.Tools.Value" />
        <tr>
            <th>@HardSkillsDetails.Other.Key</th>
            <td>
                <TextArray TextCollection="HardSkillsDetails.Other.Value" />
            </td>
        </tr>
        <TableHeaderAndDataRow TableHeader="@HardSkillsDetails.WayOfWorking.Key" TableData="@HardSkillsDetails.WayOfWorking.Value" />
        <tr>
            <th>@HardSkillsDetails.Languages.Key</th>
            <td>
                <TextArray TextCollection="HardSkillsDetails.Languages.Value" />
            </td>
        </tr>
    </tbody>
</table>