<h3>WorkExperience</h3>

@* TODO: need to translate this to korean *@
<h5>Experience @(CurrentIndex + 1) out of @TotalExperienceCount</h5>
<h5>Use arrow key left or right to see other work experience</h5>

<h5>@TotalExperienceCount 가지 중 @(CurrentIndex + 1)번째 경력 </h5>
<h5>다른 경력을 보기 위해서는 왼쪽, 오른쪽 방향키를 사용해 주세요.</h5>
    <table>
        <tbody>
            <tr>
                <th>Time Period</th>
            <td>@Data!.TimePeriod</td>
            </tr>
            <tr>
                <th>Company</th>
            <td>@Data!.Company</td>
            </tr>
            <tr>
                <th>Location</th>
            <td>@Data!.Location</td>
            </tr>
            <tr>
                <th>Position</th>
            <td>@Data!.Position</td>
            </tr>
            <tr>
                <th>Job Description</th>
                <td>
                @foreach (string responsibility in Data!.JobDescription!)
                    {
                        <p>@responsibility</p>
                    }
                </td>
            </tr>

        </tbody>
    </table>

<table>
    <tbody>
        <tr>
            <th>재직 기간</th>
            <td>@Data!.TimePeriod</td>
        </tr>
        <tr>
            <th>회사</th>
            <td>@Data!.Company</td>
        </tr>
        <tr>
            <th>위치</th>
            <td>@Data!.Location</td>
        </tr>
        <tr>
            <th>직급</th>
            <td>@Data!.Position</td>
        </tr>
        <tr>
            <th>업무</th>
            <td>
                @foreach (string responsibility in Data!.JobDescription!)
                {
                    <p>@responsibility</p>
                }
            </td>
        </tr>

    </tbody>
</table>