<h3>WorkExperience</h3>

@* todo 
    use index of workexperience array Data[i] to display in table. 
    start with 0, on arrow -> increase +1 on arrow <- decrease -1
    think what to do when array begining or end reached. maybe don't allow to move from last to 0 or from 0 to last.
    or get first element or last element.
*@


    <table>
        <tbody>
            <tr>
                <th>Time Period</th>
            <td>@Data.TimePeriod</td>
            </tr>
            <tr>
                <th>Company</th>
            <td>@Data.Company</td>
            </tr>
            <tr>
                <th>Location</th>
            <td>@Data.Location</td>
            </tr>
            <tr>
                <th>Position</th>
            <td>@Data.Position</td>
            </tr>
            <tr>
                <th>JobDescription</th>
                <td>
                @foreach (string responsibility in Data.JobDescription)
                    {
                        <p>@responsibility</p>
                    }
                </td>
            </tr>

        </tbody>
    </table>




@code {
    [Parameter]
    public WorkExperienceModel Data { get; set; }
}
