@inject StateContainer StateContainer

<h3>WorkExperience</h3>

@if (StateContainer.CurrentSelectedLanguage == Languages.eng)
{
    <h5>Experience @(CurrentIndex + 1) out of @TotalExperienceCount</h5>
    <h5>Use arrow key left or right to see other work experience</h5>
} else
{
    <h5>@TotalExperienceCount 가지 중 @(CurrentIndex + 1)번째 경력 </h5>
    <h5>다른 경력을 보기 위해서는 왼쪽, 오른쪽 방향키를 사용해 주세요.</h5>
}

    <table>
        <tbody>
        <TableHeaderAndDataRow TableHeader="@ExperienceDetails.TimePeriod.Key" SimpleData="@ExperienceDetails.TimePeriod.Value" />
        <TableHeaderAndDataRow TableHeader="@ExperienceDetails.Company.Key" SimpleData="@ExperienceDetails.Company.Value" />
        <TableHeaderAndDataRow TableHeader="@ExperienceDetails.Location.Key" SimpleData="@ExperienceDetails.Location.Value" />
        <TableHeaderAndDataRow TableHeader="@ExperienceDetails.Position.Key" SimpleData="@ExperienceDetails.Position.Value" />
        <TableHeaderAndDataRow TableHeader="@ExperienceDetails.JobDescription.Key" CollectionData="@ExperienceDetails.JobDescription.Value" />
        </tbody>
    </table>